PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/SMS/SiteMapService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://panesys-pc/BankOne/Services/SiteMapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" />
  <xs:import schemaLocation="http://panesys-pc/BankOne/Services/SiteMapService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="FindSiteMapNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rawUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSiteMapNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" minOccurs="0" name="FindSiteMapNodeResult" nillable="true" type="q1:SiteMapItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSiteMapNodeFromKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSiteMapNodeFromKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" minOccurs="0" name="FindSiteMapNodeFromKeyResult" nillable="true" type="q2:SiteMapItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRolesResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildNodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" minOccurs="0" name="item" nillable="true" type="q4:SiteMapItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" minOccurs="0" name="GetChildNodesResult" nillable="true" type="q5:ArrayOfSiteMapItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" minOccurs="0" name="item" nillable="true" type="q6:SiteMapItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParentNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" minOccurs="0" name="GetParentNodeResult" nillable="true" type="q7:SiteMapItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteMap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" minOccurs="0" name="GetSiteMapResult" nillable="true" type="q8:SiteMapItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>