PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/SMS/SiteMapService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://panesys-pc/BankOne/Services/SiteMapService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://panesys-pc/BankOne/Services/SiteMapService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://panesys-pc/BankOne/Services/SiteMapService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" />
      <xsd:import schemaLocation="http://panesys-pc/BankOne/Services/SiteMapService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SiteMapService_FindSiteMapNode_InputMessage">
    <wsdl:part name="parameters" element="FindSiteMapNode" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_FindSiteMapNode_OutputMessage">
    <wsdl:part name="parameters" element="FindSiteMapNodeResponse" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_FindSiteMapNodeFromKey_InputMessage">
    <wsdl:part name="parameters" element="FindSiteMapNodeFromKey" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_FindSiteMapNodeFromKey_OutputMessage">
    <wsdl:part name="parameters" element="FindSiteMapNodeFromKeyResponse" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="GetRoles" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetChildNodes_InputMessage">
    <wsdl:part name="parameters" element="GetChildNodes" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetChildNodes_OutputMessage">
    <wsdl:part name="parameters" element="GetChildNodesResponse" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetParentNode_InputMessage">
    <wsdl:part name="parameters" element="GetParentNode" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetParentNode_OutputMessage">
    <wsdl:part name="parameters" element="GetParentNodeResponse" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetSiteMap_InputMessage">
    <wsdl:part name="parameters" element="GetSiteMap" />
  </wsdl:message>
  <wsdl:message name="SiteMapService_GetSiteMap_OutputMessage">
    <wsdl:part name="parameters" element="GetSiteMapResponse" />
  </wsdl:message>
  <wsdl:portType name="SiteMapService">
    <wsdl:operation name="FindSiteMapNode">
      <wsdl:input wsaw:Action="urn:SiteMapService/FindSiteMapNode" message="SiteMapService_FindSiteMapNode_InputMessage" />
      <wsdl:output wsaw:Action="urn:SiteMapService/FindSiteMapNodeResponse" message="SiteMapService_FindSiteMapNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindSiteMapNodeFromKey">
      <wsdl:input wsaw:Action="urn:SiteMapService/FindSiteMapNodeFromKey" message="SiteMapService_FindSiteMapNodeFromKey_InputMessage" />
      <wsdl:output wsaw:Action="urn:SiteMapService/FindSiteMapNodeFromKeyResponse" message="SiteMapService_FindSiteMapNodeFromKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="urn:SiteMapService/GetRoles" message="SiteMapService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="urn:SiteMapService/GetRolesResponse" message="SiteMapService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildNodes">
      <wsdl:input wsaw:Action="urn:SiteMapService/GetChildNodes" message="SiteMapService_GetChildNodes_InputMessage" />
      <wsdl:output wsaw:Action="urn:SiteMapService/GetChildNodesResponse" message="SiteMapService_GetChildNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParentNode">
      <wsdl:input wsaw:Action="urn:SiteMapService/GetParentNode" message="SiteMapService_GetParentNode_InputMessage" />
      <wsdl:output wsaw:Action="urn:SiteMapService/GetParentNodeResponse" message="SiteMapService_GetParentNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSiteMap">
      <wsdl:input wsaw:Action="urn:SiteMapService/GetSiteMap" message="SiteMapService_GetSiteMap_InputMessage" />
      <wsdl:output wsaw:Action="urn:SiteMapService/GetSiteMapResponse" message="SiteMapService_GetSiteMap_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>