PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/SMS/SiteMapService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOA.Framework.SiteMapHelper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://outlander/BankOne/Services/SiteMapService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SiteMapItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfSiteMapItem" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteMapItem" nillable="true" type="tns:SiteMapItem" />
  <xs:complexType name="ArrayOfSiteMapItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteMapItem" nillable="true" type="tns:SiteMapItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteMapItem" nillable="true" type="tns:ArrayOfSiteMapItem" />
</xs:schema>