PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/SS/SessionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="isUserLoggedin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isUserLoggedinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isUserLoggedinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsADifferentInstitution">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsADifferentInstitutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsADifferentInstitutionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>