PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/PANE.Framework.Managed/Service References/MfbServiceRef/MfbService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://crisp-pc/AppZonePortal2/Services/MfbService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Utility" />
  <xs:import schemaLocation="http://crisp-pc/AppZonePortal2/Services/MfbService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" />
  <xs:import schemaLocation="http://crisp-pc/AppZonePortal2/Services/MfbService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" />
  <xs:complexType name="Mfb">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q1:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADContainer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADUsername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ActiveDirectorys" nillable="true" type="tns:ArrayOfActiveDirectory" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Utility" minOccurs="0" name="AuthenticationType" type="q2:AuthenticationType" />
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPerson" nillable="true" type="tns:ContactPerson" />
          <xs:element minOccurs="0" name="CurrentFinancialday" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Footer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Identity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InstitutionCode" type="xs:int" />
          <xs:element minOccurs="0" name="InstitutionCodeString" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Utility" minOccurs="0" name="InstitutionType" type="q3:InstitutionType" />
          <xs:element minOccurs="0" name="LocalConnectionString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Logo" nillable="true" type="tns:MfbLogo" />
          <xs:element minOccurs="0" name="MasterCredit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MasterDebit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MasterIncome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Max_Cards" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemoteConnectionString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemoteDatabaseName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemotePassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemoteServerIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemoteUsername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Utility" minOccurs="0" name="Status" nillable="true" type="q4:MFBStatus" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Utility" minOccurs="0" name="ValidationType" type="q5:ValidationType" />
          <xs:element minOccurs="0" name="VerveCredit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VerveDebit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VerveIncome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VisaCredit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VisaDebit" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VisaIncome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="state" nillable="true" type="tns:State" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mfb" nillable="true" type="tns:Mfb" />
  <xs:complexType name="ArrayOfActiveDirectory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveDirectory" nillable="true" type="tns:ActiveDirectory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveDirectory" nillable="true" type="tns:ArrayOfActiveDirectory" />
  <xs:complexType name="ActiveDirectory">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q6:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ADContainer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADServer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ADUsername" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Mfb" nillable="true" type="tns:Mfb" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ActiveDirectory" nillable="true" type="tns:ActiveDirectory" />
  <xs:complexType name="ContactPerson">
    <xs:sequence>
      <xs:element name="_x003C_Email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_FirstName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Phone_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactPerson" nillable="true" type="tns:ContactPerson" />
  <xs:complexType name="MfbLogo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q7:DataObject">
        <xs:sequence>
          <xs:element name="_x003C_Image_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
          <xs:element name="_x003C_MfbID_x003E_k__BackingField" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MfbLogo" nillable="true" type="tns:MfbLogo" />
  <xs:complexType name="State">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q8:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="ArrayOfState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="State" nillable="true" type="tns:State" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfState" nillable="true" type="tns:ArrayOfState" />
  <xs:complexType name="ArrayOfCurrencyDenomination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrencyDenomination" nillable="true" type="tns:CurrencyDenomination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCurrencyDenomination" nillable="true" type="tns:ArrayOfCurrencyDenomination" />
  <xs:complexType name="CurrencyDenomination">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q9:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Denomination" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrencyDenomination" nillable="true" type="tns:CurrencyDenomination" />
  <xs:complexType name="LGA">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q10:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="State" nillable="true" type="tns:State" />
          <xs:element minOccurs="0" name="StateID" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LGA" nillable="true" type="tns:LGA" />
  <xs:complexType name="ArrayOfLGA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LGA" nillable="true" type="tns:LGA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLGA" nillable="true" type="tns:ArrayOfLGA" />
  <xs:complexType name="ArrayOfMfb">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mfb" nillable="true" type="tns:Mfb" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMfb" nillable="true" type="tns:ArrayOfMfb" />
  <xs:complexType name="MfbApps">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q11:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationID" type="xs:long" />
          <xs:element minOccurs="0" name="MfbID" type="xs:long" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" minOccurs="0" name="Status" type="q12:Status" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MfbApps" nillable="true" type="tns:MfbApps" />
  <xs:complexType name="ArrayOfMfbApps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MfbApps" nillable="true" type="tns:MfbApps" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMfbApps" nillable="true" type="tns:ArrayOfMfbApps" />
</xs:schema>