PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/AS/ApprovalConfigService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagedServices.Core.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagedServices.Core.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appzone-pc/managedservicesborderless/Services/ApprovalConfigService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" />
  <xs:import schemaLocation="http://appzone-pc/managedservicesborderless/Services/ApprovalConfigService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ManagedServices.Core.Utility" />
  <xs:import schemaLocation="http://appzone-pc/managedservicesborderless/Services/ApprovalConfigService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.DTO" />
  <xs:complexType name="Approval">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.DTO" base="q1:DataObject">
        <xs:sequence>
          <xs:element name="_x003C_ActionDate_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
          <xs:element name="_x003C_ApplicationName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_ApprovalFunctionID_x003E_k__BackingField" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" name="_x003C_ApprovalFunction_x003E_k__BackingField" nillable="true" type="q2:Function" />
          <xs:element name="_x003C_ApprovingUserID_x003E_k__BackingField" nillable="true" type="xs:long" />
          <xs:element name="_x003C_CanApprovalorDecline_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_CanCancel_x003E_k__BackingField" type="xs:boolean" />
          <xs:element name="_x003C_ClientIPAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_ClientName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_DataAfter_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
          <xs:element name="_x003C_DataBefore_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
          <xs:element name="_x003C_DataType_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_DateRequested_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
          <xs:element name="_x003C_Endpoint_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_EntityName_x003E_k__BackingField" nillable="true" type="xs:string" />
          <xs:element name="_x003C_InitiatorUserID_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_InitiatorUser_x003E_k__BackingField" nillable="true" type="tns:User" />
          <xs:element name="_x003C_ObjectID_x003E_k__BackingField" type="xs:long" />
          <xs:element name="_x003C_StatusID_x003E_k__BackingField" type="xs:long" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ManagedServices.Core.Utility" name="_x003C_Status_x003E_k__BackingField" type="q3:ApprovalStatus" />
          <xs:element name="_x003C_UserApprover_x003E_k__BackingField" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Approval" nillable="true" type="tns:Approval" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.DTO" base="q4:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BranchID" type="xs:long" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherNames" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" minOccurs="0" name="Status" type="q5:UserStatus" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>