PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/AS/ApprovalConfigService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogObject" type="xs:boolean" />
      <xs:element minOccurs="0" name="MFBCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAuditTrail" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataObject" nillable="true" type="tns:DataObject" />
</xs:schema>