PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/AS/ApprovalConfigService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://appzone-pc/managedservicesborderless/Services/ApprovalConfigService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Approval.DTO" />
  <xs:import schemaLocation="http://appzone-pc/managedservicesborderless/Services/ApprovalConfigService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.DTO" />
  <xs:import schemaLocation="http://appzone-pc/managedservicesborderless/Services/ApprovalConfigService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Function">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.DTO" base="q1:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApplicationID" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Approval.DTO" minOccurs="0" name="ApprovalConfigurationUpdate" nillable="true" type="q2:ApprovalConfiguration" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasSubRoles" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsApprovable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentFunction" nillable="true" type="tns:Function" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SubUserRoleUpdate" nillable="true" type="tns:UserRole" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Approval.DTO" minOccurs="0" name="TheApprovalConfigurations" nillable="true" type="q3:ArrayOfApprovalConfiguration" />
          <xs:element minOccurs="0" name="UserCategory" type="tns:UserCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Function" nillable="true" type="tns:Function" />
  <xs:complexType name="UserRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.DTO" base="q4:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserCategory" type="tns:UserCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:simpleType name="UserCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServiceProvider" />
      <xs:enumeration value="Mfb" />
      <xs:enumeration value="SchemeOwner" />
      <xs:enumeration value="Customer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserCategory" nillable="true" type="tns:UserCategory" />
  <xs:simpleType name="UserStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InActive">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Active">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserStatus" nillable="true" type="tns:UserStatus" />
</xs:schema>