PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/APPS/ApprovalService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PANE.Framework.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTrailItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrailItem" nillable="true" type="tns:TrailItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrailItem" nillable="true" type="tns:ArrayOfTrailItem" />
  <xs:complexType name="TrailItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueAfter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueBefore" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrailItem" nillable="true" type="tns:TrailItem" />
  <xs:complexType name="ApprovalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayCustomMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResponseObject" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApprovalResponse" nillable="true" type="tns:ApprovalResponse" />
  <xs:complexType name="ApproverWCFException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproverWCFException" nillable="true" type="tns:ApproverWCFException" />
</xs:schema>