PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/US/UtilityService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AppZonePortal.Core.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aurora/FBNPortal/services/UtilityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" />
  <xs:import schemaLocation="http://aurora/FBNPortal/services/UtilityService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" />
  <xs:complexType name="ArrayOfBaseUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BaseUser" nillable="true" type="tns:BaseUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBaseUser" nillable="true" type="tns:ArrayOfBaseUser" />
  <xs:complexType name="BaseUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q1:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BranchID" type="xs:long" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherNames" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" minOccurs="0" name="Status" type="q2:UserStatus" />
          <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseUser" nillable="true" type="tns:BaseUser" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseUser">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="CPCHubUser">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="CPCHubID" type="xs:long" />
          <xs:element minOccurs="0" name="CPCHubName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CPCHubUser" nillable="true" type="tns:CPCHubUser" />
</xs:schema>