PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/FS/FunctionsService77.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://evolution.appzone.local/Issuance/services/FunctionsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" />
  <xs:import schemaLocation="http://evolution.appzone.local/Issuance/services/FunctionsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="UserCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServiceProvider" />
      <xs:enumeration value="Mfb" />
      <xs:enumeration value="CorrespondentBank" />
      <xs:enumeration value="Customer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserCategory" nillable="true" type="tns:UserCategory" />
  <xs:complexType name="UserRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q1:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Scope" type="tns:UserRoleScope" />
          <xs:element minOccurs="0" name="UserCategory" type="tns:UserCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:simpleType name="UserRoleScope">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Branch">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Region">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Global">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserRoleScope" nillable="true" type="tns:UserRoleScope" />
</xs:schema>