PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/FS/FunctionsService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOA.Framework.FunctionHelper" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOA.Framework.FunctionHelper" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Card_Issuance2/services/FunctionsService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SOA.Framework.ApprovalConfigHelper" />
  <xs:import schemaLocation="http://localhost/Card_Issuance2/services/FunctionsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Functions.DTO" />
  <xs:import schemaLocation="http://localhost/Card_Issuance2/services/FunctionsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" />
  <xs:import schemaLocation="http://localhost/Card_Issuance2/services/FunctionsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" />
  <xs:complexType name="ArrayOfFunctionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionItem" nillable="true" type="tns:FunctionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionItem" nillable="true" type="tns:ArrayOfFunctionItem" />
  <xs:complexType name="FunctionItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q1:DataObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOA.Framework.ApprovalConfigHelper" minOccurs="0" name="ApprovalConfigurationUpdate" nillable="true" type="q2:ApprovalConfig" />
          <xs:element minOccurs="0" name="Dependency" type="xs:boolean" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasSubRoles" type="xs:boolean" />
          <xs:element minOccurs="0" name="InstitutionID" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="IsApprovable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentFunctionItem" nillable="true" type="tns:FunctionItem" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PANE.Framework.Functions.DTO" minOccurs="0" name="SubUserRoleUpdate" nillable="true" type="q3:UserRole" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOA.Framework.ApprovalConfigHelper" minOccurs="0" name="TheApprovalConfigurations" nillable="true" type="q4:ArrayOfApprovalConfig" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PANE.Framework.Managed.Functions.DTO" minOccurs="0" name="UserCategory" type="q5:UserCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FunctionItem" nillable="true" type="tns:FunctionItem" />
  <xs:complexType name="ArrayOfUserRoleFunctionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRoleFunctionItem" nillable="true" type="tns:UserRoleFunctionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRoleFunctionItem" nillable="true" type="tns:ArrayOfUserRoleFunctionItem" />
  <xs:complexType name="UserRoleFunctionItem">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/PANE.Framework.DTO" base="q6:DataObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="TheFunctionItemID" type="xs:long" />
          <xs:element minOccurs="0" name="TheUserRoleID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserRoleFunctionItem" nillable="true" type="tns:UserRoleFunctionItem" />
</xs:schema>