PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/MS/MembershipService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://evolution.appzone.local/ManagedServices/Services/MembershipService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOA.Framework.MembershipHelper" />
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userIsOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOA.Framework.MembershipHelper" minOccurs="0" name="GetUserResult" nillable="true" type="q1:MembershipUserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="providerUserKey" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="userIsOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOA.Framework.MembershipHelper" minOccurs="0" name="GetUserByKeyResult" nillable="true" type="q2:MembershipUserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>