PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/RA/RecentActivityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tarantula.paneinternational.local/ManagedServices/Services/RecentActivityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ManagedServices.Data.Utility" />
  <xs:element name="GetRecentlyAddedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mfbCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyAddedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagedServices.Data.Utility" minOccurs="0" name="GetRecentlyAddedItemsResult" nillable="true" type="q1:ArrayOfRecentActivity" />
        <xs:element minOccurs="0" name="totalItemsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyModifiedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mfbCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyModifiedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManagedServices.Data.Utility" minOccurs="0" name="GetRecentlyModifiedItemsResult" nillable="true" type="q2:ArrayOfRecentActivity" />
        <xs:element minOccurs="0" name="totalItemsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyDeletedItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mfbCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyDeletedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ManagedServices.Data.Utility" minOccurs="0" name="GetRecentlyDeletedItemsResult" nillable="true" type="q3:ArrayOfRecentActivity" />
        <xs:element minOccurs="0" name="totalItemsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mfbCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" type="xs:long" />
        <xs:element minOccurs="0" name="dataType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ManagedServices.Data.Utility" minOccurs="0" name="GetRecentItemsResult" nillable="true" type="q4:ArrayOfRecentActivity" />
        <xs:element minOccurs="0" name="totalItemsCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>