PANE.Framework.Managed/Main/Source/PANE.Framework.Managed/Source/SOA.Framework/Service References/RA/RecentActivityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagedServices.Data.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagedServices.Data.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecentActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecentActivity" nillable="true" type="tns:RecentActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecentActivity" nillable="true" type="tns:ArrayOfRecentActivity" />
  <xs:complexType name="RecentActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ActivityID" type="xs:long" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecentActivity" nillable="true" type="tns:RecentActivity" />
</xs:schema>